# .coveragerc to control coverage.py
[run]
source = arch
branch = True
omit =
    */_version.py
    */compat/*
    */vendor/*
plugins = Cython.Coverage

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError
    except NotImplementedError
    # Ignore pass
    pass
    # Ignore failure messages
    pytest.xfail
    # Ignore ImportError protection
    except ImportError
    # Ignore type checking code
    if TYPE_CHECKING
    elif TYPE_CHECKING
    # Cython function declarations
    cdef
    # Cython functions with void
    cdef void


include = */arch/*
omit =
    */_version.py
    */compat/*
    *recursions.py
    *samplers.py
ignore_errors = True
