.idea/
*.pyc
*.pyd
*.c
arch.egg-info/
build/
dist
.benchmarks/
.cache/
README.rst
*.suo

/totestimports.py
*.user
/.vs/config/applicationhost.config
/examples/.ipynb_checkpoints/univariate_volatility_modeling-checkpoint.ipynb
/local_cythonrecursion.py
/.vs/arch/v14/.suo
*.pyproj
*.sln

/.vs/config/applicationhost.config
.vscode/settings.json
