.idea/
*.pyc
*.pyd
*.c
arch.egg-info/
build/
dist
.benchmarks/
.cache/
README.rst
*.suo
/arch.sln
/totestimports.py
*.user
/.vs/config/applicationhost.config
/examples/.ipynb_checkpoints/univariate_volatility_modeling-checkpoint.ipynb
