[build-system]
requires = [
  "setuptools",
  "wheel",
  "numpy==1.14.6; python_version=='3.6'",
  "numpy==1.14.6; python_version=='3.7'",
  "numpy==1.17.5; python_version>='3.8'",
  "Cython>=0.29.14"]

[tool.black]
target-version = ['py36', 'py37', 'py38']
exclude = '''
(
    \.egg
  | \.git
  | \.mypy_cache
  | \.oytest_cache
  | _build
  | buck-out
  | build
  | dist
)
'''