[build-system]
requires = [
  "setuptools>=61",
  "wheel",
  "setuptools_scm[toml]>=7,<8",
  "oldest-supported-numpy>=2022.11.19",
  "numpy; python_version>='3.12'",
  "cython>=3.0.0b2"
]
build-backend = "setuptools.build_meta"


[tool.black]
target-version = ['py39', 'py310', 'py311']
exclude = '''
(
    \.egg
  | \.git
  | \.mypy_cache
  | \.oytest_cache
  | _build
  | buck-out
  | build
  | dist
)
'''

[tool.setuptools_scm]
write_to = "arch/_version.py"

[tool.ruff]
typing-modules = ["arch.typing"]