# versioning
setuptools_scm[toml]>=7,<8
packaging
oldest-supported-numpy>=2022.11.19

# Performance
cython>=3.0.0b2
numba>=0.49,!=0.50.*

# Graphics
matplotlib>=3
seaborn

# Tests
pytest>=7.3
pytest-xdist
pytest-cov

# formatting
black[jupyter]==23.3.0
isort~=5.0
flake8
mypy
pyupgrade>=3.4.0

# Documentation
ipython>=7
sphinx>=7
sphinx_immaterial
nbsphinx
jupyter
notebook
nbconvert
sphinx-autodoc-typehints

