# versioning
setuptools_scm[toml]>=8.0.3,<9
packaging
oldest-supported-numpy>=2022.11.19

# Performance
cython>=0.29.34  # Works with 3.0.0b2
numba>=0.49,!=0.50.*;python_version<"3.12"

# Graphics
matplotlib>=3
seaborn

# Tests
pytest>=7.3
pytest-xdist
pytest-cov

# formatting
black[jupyter]==23.12.1
isort~=5.0
colorama
flake8
mypy
pyupgrade>=3.4.0

# Documentation
ipython>=7
sphinx>=7
sphinx_immaterial
nbsphinx
jupyter
notebook
nbconvert
sphinx-autodoc-typehints

