# versioning
meson-python>=0.18.0
meson
ninja
setuptools_scm[toml]>=8.0.3,<9
packaging

# Performance
cython>=3.0.10
numba>=0.49,!=0.50.*;python_version<"3.12"

# Graphics
matplotlib>=3
seaborn

# Tests
pytest>=8.4.1,<9
pytest-xdist
pytest-cov
pytest-randomly

# formatting
black[jupyter]~=25.1.0
isort~=5.12
colorama
flake8
flake8-bugbear
mypy
ruff>=0.8.6
pyupgrade>=3.4.0
jupyterlab-code-formatter

# Documentation
ipython>=7
sphinx>=7
sphinx_immaterial
nbsphinx
jupyter
notebook
nbconvert
sphinx-autodoc-typehints
pickleshare
jupyterlab>=4.4.8 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
