numpy >=1.14
scipy >=1.0.1
ipython >=6
Cython >=0.29.14
matplotlib >=2.0
pandas >=0.23
patsy >=0.5.1
statsmodels >=0.9
sphinx >=1.8
seaborn
numpydoc >=0.9.2
property_cached >=1.6.3
nbsphinx
sphinx_material
jupyter
notebook
sphinx-autodoc-typehints
