setuptools>=61
wheel
setuptools_scm[toml]>=8.0.3,<9
oldest-supported-numpy
cython>=0.29.34  # Works with 3.0.0b2
numpy >=1.22
scipy >=1.5.0
ipython >=8.0.1
matplotlib >=3.0
pandas >=1.1.0
patsy >=0.5.3
statsmodels >=0.13.5
jinja2
sphinx
seaborn
numpydoc>=1.0.0
nbsphinx
sphinx-immaterial
jupyter
notebook
sphinx-autodoc-typehints
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
