wheel
meson-python
ninja
setuptools_scm[toml]>=9.2,<10
cython>=3.1.0
numpy >=2
scipy >=1.15.0
ipython >=8.0.1
matplotlib >=3.9
pandas >=2.3.0
statsmodels >=0.14.5
jinja2
sphinx
seaborn
numpydoc>=1.0.0
nbsphinx
sphinx-immaterial
jupyter
notebook
sphinx-autodoc-typehints
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
jupyterlab>=4.4.8 # not directly required, pinned by Snyk to avoid a vulnerability
